:root {
  --green: #68b738;
  --blue: #a0bfff;
  --reddish: #eb9694;
  --purple: #6e588c;
  --dark: #1a1226;
  --red: #cc0000;
  --bg-light-grey: #e5e8ec;
  --main-font-family: "Nunito", sans-serif;
  --fz-section-header: 36px;
  --fz-sub-header: 24px;
  --regular-font-weight: 400;
}

body {
  font-family: var(--main-font-family);
  margin: 0;
  padding: 0;
  min-width: 320px;
  /* overflow: overlay; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid var(--purple);
  background-color: #fff;
  cursor: pointer;
}

.btn:hover {
  outline: 2px solid var(--purple);
}

.btn:focus {
  outline: none;
  background-color: var(--purple);
  color: #fff;
}

.documents-list {
  list-style-type: none;
  justify-content: space-around;
  margin-top: 30px;
  width: 280px;
}

.documents-list__item {
  margin-bottom: 7px;
}

.documents-list__link {
  text-decoration: underline;
}
.documents-list__link:hover {
  text-decoration: none;
}

/* main {
  overflow: hidden;
} */
.page-header {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  color: white;
  background-position: center;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-image: url("../img/global/header-bg-mobile@1x.jpg");
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/global/header-bg-mobile@2x.jpg");
  }
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-list__item {
  margin-right: 10px;
}

.nav-list__item-link {
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  font-size: 16px;
  margin-top: 10px;
}

.nav-list__item-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-list__item-link:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav-list__item:last-child {
  margin-right: 0;
}

.slogan__wrapper {
  margin-top: 100px;
  text-align: center;
}

.slogan {
  font-size: 40px;
}

.slogan__description {
  font-size: 16px;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 80px;
  height: 80px;
  top: 80%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  cursor: pointer;
  left: calc(50% - 20px);
}

.arrow:before {
  content: "";
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

.arrow:hover:before {
  animation-name: none;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.about {
  background-color: var(--bg-light-grey);
  padding-top: 40px;
  padding-bottom: 20px;
}
.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__description-wrapper {
  order: 2;
}

.about__description {
  width: 280px;
}

.about__portfolio-link {
  text-decoration: underline;
}

.about__photo {
  margin: 0;
  width: 280px;
}

.about__photo-img {
  margin-left: -20px;
}

.about__photo {
  order: 1;
  width: 280px;
}

.about__photo-description {
  font-size: 14px;
  opacity: 0.9;
  text-align: center;
}

.portfolio {
  padding-top: 40px;
  padding-bottom: 20px;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.portfolio__item--superbrain {
  border-bottom: 5px solid var(--blue);
}

.portfolio__item--cat-energy {
  border-bottom: 5px solid var(--green);
}
.portfolio__item--visualization {
  border-bottom: 5px solid var(--reddish);
}

.portfolio__item-image-wrapper {
  margin-right: 20px;
}

.portfolio__item-description-wrapper {
  width: 327px;
  padding-bottom: 20px;
}

.portfolio__item-description {
  margin-bottom: 40px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact {
  background-color: var(--purple);
  padding-top: 40px;
  padding-bottom: 20px;
}

.contact h2 {
  color: white;
  margin-bottom: 30px;
}

.contact__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact__field-wrapper {
  min-width: 280px;
  width: 45%;
}

.contact__field-wrapper--textarea {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input,
textarea {
  background-color: var(--purple);
  border: none;
  border: 1px solid white;
  padding: 20px;
  font-size: 22px;
  min-width: 280px;
  width: 100%;
  color: #7dde42;
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
}

label {
  font-size: 18px;
  margin-right: 10px;
  color: white;
}

textarea {
  min-height: 200px;
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--green);
}

.contact__btn {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--purple);
  border: 1px solid white;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.contact__btn:hover,
.contact__btn:focus {
  border: 1px solid var(--green);
  outline: none;
}

.contact__btn:focus {
  color: #7dde42;
}

.page-footer {
  background-color: var(--dark);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer .nav-list__item-link {
  margin-top: 0;
  border: none;
}

.page-footer .nav-list__item-link:hover {
  text-decoration: underline;
  background-color: transparent;
}

@media (min-width: 768px) {
  .page-header {
    background-image: url("../img/global/header-bg-tablet@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url("../img/global/header-bg-tablet@2x.jpg");
    }
  }

  .container {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav-list__item {
    margin-right: 20px;
  }

  .nav-list__item-link {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    letter-spacing: 1px;
    border: 1px solid #fff;
  }

  .slogan {
    font-size: 80px;
  }

  .slogan__wrapper {
    margin-top: 200px;
  }

  .slogan__description {
    font-size: 20px;
  }

  .about__wrapper {
    display: flex;
  }

  .about__description-wrapper {
    order: 1;
  }

  .about__description {
    width: 340px;
  }

  .about__photo {
    width: 320px;
    order: 2;
  }

  .about__photo-img {
    margin-left: 0;
  }

  .portfolio__item-image {
    width: 360px;
  }

  .btn-wrapper .btn{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1300px) {
  .page-header {
    background-image: url("../img/global/header-bg-desktop@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url("../img/global/header-bg-desktop@2x.jpg");
    }
  }

  .container {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .about__wrapper {
    width: 1000px;
  }

  .about__description {
    width: 500px;
  }

  .portfolio__item {
    justify-content: center;
  }

  .portfolio__item-image {
    margin-right: 80px;
    width: 700px;
  }
}
